accordion-widget {
  margin: 2rem 0;
  display: block;

  accordion-content {
    display: block;
    padding: 10px;

    p {
      margin: 0;
    }
  }

  accordion-item {
    display: block;
    border: 1px solid;
    border-bottom: none;

    &>h3,h4 {
      margin: 0;
      padding: 10px;
      display:flex;
      justify-content: space-between;
  
      p {
        margin: 0;
      }
    }

    &:first-child {
      border-radius: var(--top-radius);
    }

    &:last-child {
      border-radius: var(--bottom-radius);
      border-bottom: 1px solid;
    }

  }

  .arrow-right:after {
    content: "\f054";
    font-family: "FontAwesome";
    display: inline-block;
    font-weight: 900;
    height: 16px;
    transform-origin: center;
    margin-right: 10px;
    width: 16px;
  }

  .arrow-down:after {
    content: "\f078";
    font-family: "FontAwesome";
    display: inline-block;
    font-weight: 900;
    height: 16px;
    margin-right: 10px;
    transform-origin: center;
    width: 16px;
  }
}