a.button {
  background-color: var(--color-pcc-primary);
  padding: 10px;
  border-radius: var(--subtle-radius);
  margin-bottom: 1rem;
  color: var(--color-pcc-white);
  text-decoration: none;

  &:hover {
    background-color: var(--color-pcc-primary-hover);
    color: var(--color-pcc-white);
    text-decoration: none;
  }
}