footer {
  padding: 15px 0;
}

.toggle-footer {
  display: block;
  font-size: 1rem;
  margin: 5px;
  text-decoration: none;
  margin: auto;
  background-color: transparent;
  border: none;
}

.toggle-footer:hover {
  cursor: pointer;
  text-decoration: none;
}