table {
  border-collapse: collapse !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin: 2rem 1rem;
  text-rendering: optimizeLegibility;
  border: 1px solid;

  th {
    font-size: 1.0625rem;
    font-weight: bold;
    line-height: normal;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border: none;

    h3,h4,h5 {
      margin-top: 0;
    }

  }

  thead,
  tr,
  td {
    vertical-align: top;

    h3,h4,h5 {
      margin-top: 0;
    }
  }

  caption {
    font-size: 1.3rem;
    margin: 0.25rem;
    margin-bottom: 0.25rem;
  }

  thead th {
    font-weight: 600;
  }

  thead th,
  tbody td {
    font-size: 1rem;
    padding: 0.8rem;
  }

  tbody tr {
    font-size: 1rem;
    padding: 0.8rem;
  }
}

table {
  width: 100%;
}

table td,
table th {
  font-size: 1em;
  padding: 10px 10px 20px 10px;
  border: 1px solid;
}

@media screen and (min-width: 730px) {
  table {
    margin: 20px 0 5px 0;
  }
  column-two table {
    overflow-wrap: anywhere;
  }
}

@media screen and (min-width: 768px) {
  table.custom-width th:first-child {
    width: 40%;
  }
  table.custom-width th:nth-child(2) {
    width: 20%;
  }
}

//Responsive table CSS for mobile
@media screen and (max-width: 768px) {
  table {
    display: inline-table !important; /*fixes table snapping in all browsers, including ie*/
    margin: 10px auto;

    thead {
      display: none;
    }

    tbody td {
      display: block;
      padding: 0.6rem;
      border-bottom: 1px solid;

      &::before {
        content: attr(data-th) ": ";
        display: inline-block;
        font-weight: bold;
        padding-right: 5px;
        width: auto;
      }
    }
  }
}

td#alignright {
  text-align: right;
}

footer ul {
  margin: 10px;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

table.two-column-table {
  border-collapse: collapse;
  margin: 0;

  tr {
    border-bottom: 15px solid transparent !important;
    display: table-row;

    td {
      padding: 0;
      vertical-align: top;

      &:first-child::after {
        content: ":";      }

      &:nth-child(2) {
        padding-left: 5%;
        width: 100%;
      }
    }

    &:nth-child(even) {
      background: transparent;
    }
  }

  h3 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li:before {
      content: "\F101";
      font-family: "FontAwesome";
      font-size: 1em;
      font-weight: 400;
      margin-right: 10px;
      opacity: 1;
    }
  }
}

table.two-column-table,
table.two-column-table tr,
table.two-column-table tr td {
  border: none;
}

.sm-table-col {
  width: 20%;
}

.md-table-col {
  width: 30%;
}

.lg-table-col {
  width: 50%;
}