:root {
  --max-width: 1200px;
}

/* Breakpoints
- mobile menu - 768px
*/

.logo {
  min-height:auto;
  min-width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../_images/full-logo_dark.svg");
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
}

main {
  width: auto;
}

.sidebar .sidebar-nav {
  padding-bottom: 50px;
}

.navbar {
  max-width: var(--max-width);
  margin: 0 auto;
}

body.sticky .sidebar-toggle {
  position: fixed;
  background-color: var(--color-docs-nav-bkg);
  bottom: 20px;
  left: 20px;
  width: auto;
}

.sidebar-toggle span {
  width: 18px;
}

body.close .sidebar-toggle-button span:nth-child(1) {
  transform: rotate(0deg);
  transition: .3s ease;
}

body.close .sidebar-toggle-button span:nth-child(2) {
  opacity: 1;
  transition: .3s ease;
}

body.close .sidebar-toggle-button span:nth-child(3) {
  transform: rotate(0deg);
  transition: .3s ease;
}

.sidebar-toggle-button span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 4px);
  transition: .3s ease;
}

.sidebar-toggle-button span:nth-child(2) {
  opacity: 0;
  transition: .3s ease;
}

.sidebar-toggle-button span:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -4px);
  transition: .3s ease;
}

/* Edit sidebar when screen is large and there is not a mobile menu */
@media screen and (min-width: 768px) {
  .sidebar {
    max-width: var(--max-width);
    margin: 0 auto;
    left: auto;
  }

   body.close .sidebar {
    display: none;
  }

}

/* Edit sidebar when screen is small and there is a mobile menu */
@media screen and (max-width: 768px) {
  .sidebar-toggle {
    padding: 10px;
  }

  body.close .sidebar {
    display: none;
  }

  body.close .content {
    transform: translateX(0);
  }

  body .content {
    transform: translateX(300px);
  }
  
  .sidebar {
    max-width: var(--max-width);
    margin: 0 auto;
    left: auto;
  }
}

/* Edit sidebar when screen is extra small */
@media screen and (max-width: 575px) {
  .logo {
    background-image: url("../_images/logomark_blue.svg")
  }
}