:root {
  --color-docs-primary: rgba(85, 88, 100, 1);
  --color-docs-secondary: rgba(108, 112, 126, 1);
  --color-docs-tertiary: rgba(238, 115, 31, 1);
  --color-docs-quaternary: rgba(240, 240, 240, 1);
  --color-docs-dark-blue: rgba(25, 30, 63, 1);
  --color-docs-accent: rgba(79, 111, 244, 1);
	--color-docs-accent-hover: rgb(96, 123, 230);
  --color-docs-active-link: rgba(79, 111, 244, .05);
  --color-grey: rgba(68, 68, 68, 1);
  --color-gray: rgba(68, 68, 68, 1);
  --color-dkgrey: rgba(128, 128, 128, 1);
  --color-dkgrey-hover: rgba(108, 110, 112, 1);
  --color-ltgrey: rgba(227, 227, 227, 1);
  --color-docs-nav-bkg: rgba(79, 111, 244, .1);
  --color-docs-nav-search-focus: rgba(79, 111, 244, .5);
  --color-docs-code-text: rgb(76, 97, 228);
  --color-docs-code: rgba(181, 41, 126, 1);
  --color-docs-token: rgba(31, 127, 55, 1);
  --color-docs-attributes: rgba(203, 92, 17, 1);
  --color-docs-code-bkg: rgba(248, 248, 248, 1);
  --color-docs-light-grey: rgba(21, 21, 21, 0.07);
  --color-docs-light-gray: rgba(0, 0, 0, .07);
  --color-docs-white: rgba(255, 255, 255, 1);
  --color-docs-title-bkg: rgba(79, 111, 244, .03);
  --primary-rgb: 85, 88, 100;
  --slider-bkg: rgba(250, 250, 250, 1);

  --dark-primary: rgb(27, 34, 35);
  --dark-secondary: rgba(136, 140, 157, 1);
  --dark-tertiary: rgba(34, 42, 43, 1);
  --dark-sidebar-text: rgba(105, 139, 240, 1);
	--dark-link-color: rgba(105, 139, 240, 1);
	--dark-link-color-hover: rgb(126, 150, 220);
  --dark-code-text: rgba(126, 138, 215, 1);
  --dark-code: rgba(206, 115, 170, 1);
  --dark-code-attributes: rgba(226, 129, 64, 1);
  --dark-code-token: rgba(81, 164, 102, 1);
  --dark-white: rgba(177, 186, 188, 1);

  --default-label-color:rgba(3, 64, 111, 1);
  --warning-label-color: rgba(255, 165, 0, 1);
  --danger-label-color: rgba(220, 53, 69, 1);
  --info-label-color:  rgba(43, 189, 212, 1);
  --success-label-color: rgba(23, 125, 47, 1);
  --muted-label-color: rgba(220, 220, 220, 1);

  --color-primary: rgba(13, 13, 13, 1);
  --color-accent: rgba(0, 39, 246, .7);
  --color-white: rgba(255, 255, 255, 1);
  --color-hover: rgba(0, 32, 194, .8);
  --color-primary-tint1: rgba(13, 13, 13, .08);
  --color-primary-tint2: rgba(4, 85, 148, .04);
  --color-accent-tint: rgba(0, 39, 246, .1);
  --bottom-radius: 0 0 5px 5px;
  --top-radius: 5px 5px 0 0;
  --round-radius: 15px;
  --subtle-radius: 5px;
  --no-radius: 0px;
  --no-shadow: none;
  --sm-shadow: 0 .2rem .2rem rgba(0, 0, 0, .075);
  --reg-shadow: 0 .25rem .25rem rgba(0, 0, 0, .1);
  --lg-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
  --color-btn-blue: rgba(46, 94, 142, 1);
  --color-btn-blue-hover: rgba(28, 57, 87, 1);
  --color-dkgrey-hover: rgba(108, 110, 112, 1);
  --color-edit-text: rgba(178, 3, 3, 1);
  --color-light-blue: rgba(180, 231, 248, 1);
  --color-link-blue: rgba(0, 91, 226, 1);
  --color-muted-black: rgba(35, 35, 35, 1);
  --color-link-purple: rgb(108, 0, 169);
  --color-footnotes-blue: rgba(0, 57, 143, 1);
  --color-btn-primary: rgba(4, 85, 148, 1);
  --color-btn-primary-hover: rgba(3, 64, 111, 1);
  --color-table-drk-blue: rgba(29, 74, 105, 1);

  /* Themes */
  --red-theme-primary: rgba(193, 47, 1, 1);
  --green-theme-primary: rgba(69, 96, 52, 1);
  --blue-theme-primary: rgba(38, 52, 121, 1);
  --gold-theme-primary: rgba(193, 116, 0, 1);
}