:root {
  --color-docs-primary: rgba(85, 88, 100, 1);
  --color-docs-secondary: rgba(108, 112, 126, 1);
  --color-docs-accent: rgba(0, 152, 180, 1);
  --color-docs-code: rgba(1, 106, 125, 1);
  --color-docs-white: rgba(255, 255, 255, 1);
  --primary-rgb: 85, 88, 100;

  --dark-primary: rgb(27, 34, 35);
  --dark-secondary: rgba(136, 140, 157, 1);
  --dark-tertiary: rgba(34, 42, 43, 1);
  --dark-code: rgba(74, 190, 211, 1);
  --dark-white: rgba(177, 186, 188, 1);

  --color-primary: rgba(13, 13, 13, 1);
  --color-accent: rgba(0, 39, 246, .7);
  --color-white: rgba(255, 255, 255, 1);
  --color-hover: rgba(0, 32, 194, .8);
  --color-primary-tint1: rgba(13, 13, 13, .08);
  --color-primary-tint2: rgba(4, 85, 148, .04);
  --color-accent-tint: rgba(0, 39, 246, .1);
  --bottom-radius: 0 0 5px 5px;
  --top-radius: 5px 5px 0 0;
  --round-radius: 15px;
  --subtle-radius: 5px;
  --no-radius: 0px;
  --no-shadow: none;
  --sm-shadow: 0 .2rem .2rem rgba(0,0,0,.075);
  --reg-shadow: 0 .25rem .25rem rgba(0,0,0,.1);
  --lg-shadow: 0 .25rem .5rem rgba(0,0,0,.25);
  --color-btn-blue: rgba(46, 94, 142, 1);
  --color-btn-blue-hover: rgba(28, 57, 87, 1);
  --color-dkgrey-hover: rgba(108, 110, 112, 1);
  --color-edit-text: rgba(178, 3, 3, 1);
  --color-light-blue: rgba(180, 231, 248, 1);
  --color-link-blue: rgba(0, 91, 226, 1);
  --color-muted-black: rgba(35, 35, 35, 1);
  --color-link-purple: rgb(108, 0, 169);
  --color-footnotes-blue: rgba(0, 57, 143, 1);
  --color-btn-primary: rgba(4, 85, 148, 1);
  --color-btn-primary-hover: rgba(3, 64, 111, 1);
  --color-table-drk-blue: rgba(29, 74, 105, 1);
}

body {
  color: var(--color-docs-primary);
}

body[index] main {
  display: none;
}

body[index] .navbar {
  position: absolute;
  background-color: transparent;
}

/* NAVBAR */

.navbar {
  position: fixed;
  font-size: 16px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: var(--color-docs-white);
}

.navbar > a {
  align-self: center;
}

.navbar :is(a, button) {
  color: var(--color-docs-primary);
  text-decoration: none;
}

.navbar > ul > li > a:hover {
  color: var(--color-docs-accent);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar [class^="fa-"] {
  font-size: 1.25rem;
}

.navbar [class^="fa-"]:hover {
  color: var(--color-docs-accent);
}

.navbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .active, #dark-mode-btn.active {
  color: var(--color-docs-accent);
}

/* HOMEPAGE */

.cover-main {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

.cover-main h1 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

.cover-main blockquote {
  font-size: 1.5rem;
  margin: .5rem;
  font-weight: 700;
}

.cover-main li {
  line-height: 1.5;
}

.cover-main div {
  margin-top: 2rem;
  column-gap: 2rem;
  display: flex;
}

.cover-main div a {
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 999px;
  border: 1px solid var(--color-docs-accent);
  font-weight: 100;
}

.cover-main div a:first-child {
  color: var(--color-docs-accent);
}

.cover-main div a:first-child:hover {
  color: var(--dark-white);
}

.cover-main div a:last-child {
  background-color: var(--color-docs-accent);
  color: var(--color-docs-white);
}

.cover-main div a:last-child:hover {
  background-color: var(--color-code);
  border-color: var(--color-code);
}

.cover-main * {
  color: var(--color-docs-primary);
  text-align: center;
}

.cover-main ul {
  list-style-type: none;
  padding: 0;
}

.cover-main>p:last-child a {
  border: 1px solid var(--color-docs-accent);
  color: var(--color-docs-accent);
}

.cover-main>p:last-child a:last-child {
  background-color: var(--color-docs-accent);
}

.cover-main>p:last-child a:last-child:hover {
  color: var(--color-docs-white);
}

/* DOCS */

.sidebar {
  margin-top: 60px;
}

.sidebar-toggle span {
  background-color: var(--color-docs-accent);
}

.sidebar ul li a:hover {
  color: var(--color-docs-accent);
  text-decoration: none;
}

.sidebar ul li.active>a {
  color: var(--color-docs-accent);
  border-color: var(--color-docs-accent);
}

.search .input-wrap input:focus {
  box-shadow: 0 0 5px var(--color-docs-accent);
  border: 1px solid var(--color-docs-accent);
}

.matching-post a:hover, .search .search-keyword {
  color: var(--color-docs-accent);
}

.anchor span {
  color: var(--color-docs-primary);
}

/* CODE SNIPPETS */

.markdown-section a {
  color: var(--color-docs-accent);
}

.token.string {
  color: var(--color-docs-accent);
}

.token.selector, .token.tag {
  color: var(--color-code);
}

/* DARK MODE */

body[dark-mode] {
  background-color: var(--dark-primary);
  color: var(--dark-white);
}

[dark-mode] section.cover.show {
  background-color: var(--dark-primary) !important;
}

[dark-mode] :is(.navbar a, .navbar button, .anchor span, .cover-main *, .sidebar) {
  color: var(--dark-white);
}

[dark-mode] :is(.navbar, .sidebar) {
  background-color: var(--dark-primary);
}

[dark-mode] .search {
  border-color: var(--color-docs-primary);
}

[dark-mode] input[type="search"] {
  background-color: transparent;
}

[dark-mode] .sidebar ul li a {
  color: var(--dark-secondary);
}

[dark-mode] button.sidebar-toggle {
  background-color: rgba(var(--primary-rgb), .3);
  width: fit-content;
}

[dark-mode] :is(.sidebar ul li.active > a, .sidebar ul li a:hover, .navbar .active) {
  color: var(--color-docs-accent);
}

[dark-mode] :is(.markdown-section code, .markdown-section pre) {
  background-color: var(--dark-tertiary);
  color: var(--dark-white);
}

[dark-mode] :is(.token.tag, .token.selector) {
  color: var(--dark-code);
}

[dark-mode] .search input {
  caret-color: var(--dark-white);
  color: var(--dark-white);
}

[dark-mode] assignment-item h2, [dark-mode] assignment-item h3, [dark-mode] assignment-item h4 {
  background-color: var(--dark-white);
}

/* CUSTOM ELEMENTS */

.example-container {
  margin: 3rem 0;
  padding: 1rem;
  border: 1px solid rgba(var(--primary-rgb), .2);
  border-radius: 5px;
}

#second-column assignments-widget,#second-column assignments-widget {
  margin: 0;
  padding: 0
}

#content-wrapper assignments-widget,#content-wrapper assignments-widget {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between
}

assignment-item {
  display: block;
  background-color: transparent;
  border: 1px solid var(--color-docs-primary);
  border-radius: var(--subtle-radius);
  margin: 0;
  margin-bottom: .8rem;
  padding: .6rem .6rem 1.5rem;
  transition: .3s;
}

assignment-item:hover {
  transform: translate(0, -5px)
}

assignment-item h2,assignment-item h3,assignment-item h4 {
  background-color: var(--color-accent-tint);
  font-size: 1.15em;
  font-weight: 600;
  margin: -0.6rem -0.6rem .6rem -0.6rem !important;
  padding: .3rem .6rem;
  border-radius: var(--top-radius);
}

assignment-item ol li,assignment-item ul li {
  margin: 0
}

assignment-item p,assignment-item ol,assignment-item ul {
  font-size: .95em;
  margin-bottom: 1.5rem;
}

assignment-item::before,assignment-item::marker {
  content: none
}

@media screen and (min-width: 576px) {
  #content-wrapper assignment-item {
      flex-basis:45%
  }
}

@media screen and (min-width: 768px) {
  #content-wrapper assignment-item {
      flex-basis:30%
  }
}

a.button {
  background-color: var(--color-accent);
  padding: 10px;
  border-radius: var(--subtle-radius);
  margin-bottom: 1rem;
  color: var(--color-white);
  text-decoration: none;
}

a.button:hover {
  background-color: var(--color-hover);
  color: var(--color-white);
  text-decoration: none;
}

a.button:visited {
  color: var(--color-white);
}

columns-widget {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 1rem 0;
}

columns-widget > *, columns-widget > * > * {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  columns-widget[wide-narrow]:not(#two-column columns-widget[wide-narrow]) {
    grid-template-columns: 65% calc(35% - 1rem);
  }
  
  columns-widget[narrow-wide]:not(#two-column columns-widget[narrow-wide]) {
    grid-template-columns: 35% calc(65% - 1rem);
  }
}

@media screen and (min-width: 1024px) {
  #two-column columns-widget[wide-narrow] {
    grid-template-columns: 65% calc(35% - 1rem);
  }
  
  #two-column columns-widget[narrow-wide] {
    grid-template-columns: 35% calc(65% - 1rem);
  }
}