.column-two .assignments-widget, .column-two .assignments-widget {
	margin: 2rem 0;
	padding: 0;
}
.assignments-widget {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.assignment-item {
	display: block;
	background-color: transparent;
	border: 1px solid;
	border-radius: var(--subtle-radius);
	margin: 0;
	margin: 0.8rem auto;
	padding: 0.6rem 0.6rem 1.5rem;
	transition: 0.3s;
}
.assignment-item:hover {
	transform: translate(0, -5px);
}
.assignment-item h2, .assignment-item h3, .assignment-item h4 {
	font-size: 1.15rem;
	font-weight: 600;
	margin: -0.6rem -0.6rem 0.6rem -0.6rem !important;
	padding: 0.3rem 0.6rem;
	border-radius: var(--top-radius);
}
.assignment-item ol li, .assignment-item ul li {
	margin: 0;
}
.assignment-item p, .assignment-item ol, .assignment-item ul {
	font-size: 0.95rem;
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
.assignment-item::before, .assignment-item::marker {
	content: none;
}
@media screen and (min-width: 576px) {
	.assignment-item {
		flex-basis: 45%;
		max-width: 400px;
 }
}
@media screen and (min-width: 768px) {
	.assignment-item {
		flex-basis: 30%;
		max-width: 500px;
 }
}
