blockquote {
	font-size: 1.1rem;
	line-height: 1.5rem;
	margin: 3.3rem 0;
	padding: 0.6rem;
	position: relative;
	left: 7%;
	max-width: 90%;
}
blockquote::before {
	content: "\F10D";
	font-family: "FontAwesome";
	font-size: 1rem;
	position: absolute;
	left: -7%;
}
blockquote .attribution {
	display: block;
	font-size: 1rem;
	margin: 1rem 0;
	font-weight: 700;
}
@media screen and (min-width: 730px) {
	blockquote {
		padding: 1.1rem 2.2rem;
		margin: 2.2rem 0;
		left: 0;
		max-width: 100%;
 }
	blockquote::before {
		left: 0;
 }
	.columns-widget blockquote {
		left: 10%;
		max-width: 90%;
 }
	.columns-widget blockquote::before {
		left: -10%;
 }
}
