ul.list-group, ol.list-group {
	max-width: max-content;
	border: 1px solid var(--color-dkgrey);
	border-radius: var(--round-radius);
	padding: 0;
}
ul.list-group li, ol.list-group li {
	border-bottom: 1px solid var(--color-dkgrey);
	position: relative;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	margin: 0;
	width: auto;
}
ul.list-group li::marker, ol.list-group li::marker {
	display: none;
}
ul.list-group li:last-of-type, ol.list-group li:last-of-type {
	border-bottom: none;
}
ul.list-group li:hover, ol.list-group li:hover {
	background-color: var(--slider-bkg);
}
ul.list-group li:hover:first-of-type, ol.list-group li:hover:first-of-type {
	border-top-left-radius: var(--round-radius);
	border-top-right-radius: var(--round-radius);
}
ul.list-group li:hover:last-of-type, ol.list-group li:hover:last-of-type {
	border-bottom-left-radius: var(--round-radius);
	border-bottom-right-radius: var(--round-radius);
}
ul.list-group ul > li, ol.list-group ul > li {
	list-style-type: none;
}
ul.list-group li > ul > li, ol.list-group li > ul > li {
	list-style-type: disc !important;
	display: list-item !important;
}
.full-width {
	max-width: 100% !important;
}
.half-width {
	max-width: 50% !important;
}
@media screen and (max-width: 576px) {
	.half-width {
		max-width: 100% !important;
 }
}
