// Grid
body[red] {
  background-color: var(--red-theme-bg);

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-muted-black);
  }

  header {
    img {
      border-color: var(--red-theme-primary);
    }
    header-text {
      background-color: var(--red-theme-primary);
    }
    h1 {
      color: var(--color-white);
    }
  }

  .caption {
    color: var(--red-theme-primary);
  }

  content-block {
    h2:first-child {
      border-color: var(--red-theme-primary) !important;
      color: var(--color-muted-black);
    }
  }

  .highlight {
    background-color: var(--red-theme-tertiary);
    border-color: var(--red-theme-tertiary);
  }

  hr {
    border-color: var(--red-theme-tertiary);
  }

  figure {
    figcaption,
    .caption {
      border-color: var(--red-theme-tertiary);
      color: var(--red-theme-primary);
    }
  }

  .label {
    color: var(--color-white);
  }

  .label-default {
    background-color: var(--red-theme-primary);
  }

  .label-muted {
    background-color: var(--red-theme-tertiary);
    color: var(--red-theme-primary);
  }

  a,
  .toggle-footnotes {
    background-color: transparent;
    color: var(--color-link-blue);
  }

  a:visited {
    color: var(--color-link-purple);
  }

  a:hover,
  a:active,
  .toggle-footnotes:hover {
    background-color: transparent;
    color: var(--color-footnotes-blue);
  }

  .button {
    background-color: var(--red-theme-secondary);
    color: var(--color-white);

    &:hover {
      background-color: var(--red-theme-hover);
      color: var(--red-theme-primary);
    }
    &:visited {
      background-color: var(--red-theme-secondary);
      color: var(--color-white);
    }
  }

  .btn {
    background-color: var(--red-theme-secondary);
    color: var(--color-white);
    border-color: var(--red-theme-secondary);

    &:hover {
      background-color: var(--red-theme-hover);
      color: var(--color-white);
    }
    &:visited {
      background-color: var(--red-theme-secondary);
      color: var(--color-white);
    }
  }
  

  .outline {
    color: var(--red-theme-secondary);
  }

  // Accordion module

  accordion-widget {
    accordion-content {
      p {
        &.show {
          background-color: var(--red-theme-tertiary);
        }   
      }
    }
    accordion-item {
      border-color: var(--red-theme-primary);
      &>h3,h4 {
        p {
          &:hover {
            background-color: var(--red-theme-hover);
          }
        }
    }

      h3.arrow-down, h4.arrow-down {
        background-color: var(--red-theme-tertiary);
      }

      &:last-child {
        border-color: var(--red-theme-primary);
      }
    }
  }

  // Assignments module

  assignment-item {
    border-color: var(--red-theme-primary);
  }

  assignment-item h2,assignment-item h3,assignment-item h4 {
    background-color: var(--red-theme-tertiary);
  }

  // Blockquote module

  blockquote {
    &::before {
      color: var(--red-theme-secondary);
    }
    .attribution {
      color: var(--red-theme-secondary);
    }
  }

  // Buttons

  a.button {
    background-color: var(--red-theme-secondary);
    color: var(--color-white);

    &:hover {
      background-color: var(--red-theme-hover);
      color: var(--color-white);
    }

    &:visited {
      color: var(--color-white);
    }
  }

  // Callout module

  callout-widget {
    background-color: var(--red-theme-tertiary);
  }

  // Slider module

  slider-widget {
    background-color: var(--slider-bkg);

    .slider-arrow {
      background-color: var(--red-theme-primary);
    }
  }
  
  .slider-dot {
    background-color: var(--red-theme-faded);

    &.active {
      background-color: var(--red-theme-secondary);
    }
  }

  // Tables module

  table {
    border-color: var(--red-theme-primary);

    tbody tr {
      color: var(--color-muted-black);
    }
  }

  table td,
  table th {
    border-color: var(--red-theme-primary);
  }

  @media screen and (min-width: 768px) {
    tr:nth-child(even) {
      background-color: var(--red-theme-tertiary);
    }
    table th {
      background-color: var(--red-theme-primary);
    }
  }

  @media screen and (max-width: 768px) {
    table {

      tbody td {
        border-color: var(--red-theme-primary);

        a {
          color: var(--color-white);

          &:hover {
            color: var(--red-theme-hover);
          }
          
          &:visited {
            color: var(--color-white);
          }

          &:visited:hover {
            color: var(--red-theme-hover);
          }
        }

        &:first-child {
          background-color: var(--red-theme-primary);
        }
      }
    }

    td:nth-of-type(odd) {
      background-color: var(--red-theme-tertiary);
    }
  }
    

  // Tabs module

  tab-item input:checked + label {
    background-color: var(--red-theme-primary);
    color: white;
  }

  tab-item input:checked + label + tab-content {
    border-color: var(--red-theme-primary);
  }

  tab-item label {
    background-color: white;
    border-color: var(--red-theme-primary);
    color: var(--color-muted-black);
  }

  tab-item input:checked + label.hide-tab {
    background-color: var(--color-muted-black);
    color: var(--color-black);
  }
  
  tab-item label.hide-tab {
    background-color: transparent !important;
    color: var(--color-black);
    font-weight: 500;
  }

  tab-content {
    background: var(--red-theme-tertiary);
  }

  .tab-panel {
    background-color: var(--red-theme-tertiary);
    border-color: var(--red-theme-primary);
  }
}