@charset "utf-8";
@use "variables";

body {
  background-color: var(--color-primary-tint1);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

//ONE COLUMN TEMPLATE
#one-column {
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas:
    "header"
    "body"
    "footer";
  padding: 15px 2.5%;
  width: 95%;
}

.header,
column-one,
footer {
  margin: 0 auto;
  max-width: 998px;
  width: 100%;
}

column-one {
  grid-area: body;

  content-block {
    width: 96%;
    width: -moz-available;
    width: -webkit-fill-available;
  }
}

footer {
  grid-area: footer;
  padding: 5px 0;
  background-color: var(--color-white);

  .footnotes {
    padding: 15px;
  }
}

#one-column .footnotes {
  padding: 15px 95px;
}

//TWO COLUMN TEMPLATE
#two-column,
#two-col-widget {
  display: grid;
  grid-row-gap: 10px;
  justify-content: center;
  padding: 10px 2.5%;
  width: 95%;
  margin: 0 auto;
}

#two-column {
  grid-template-areas:
    "header"
    "body"
    "column-two"
    "footer";
}

#two-col-widget {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "column-two"
    "column-widget"
    "footer";
}

#two-column .header,
#two-col-widget .header,
#two-column footer,
#two-col-widget footer {
  max-width: 1170px;
}

#two-column column-one,
#two-col-widget column-one,
column-two,
#column-widget {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#two-column content-block:last-child,
#two-col-widget content-block:last-child {
  flex-grow: 1;
}

#column-widget {
  grid-area: column-widget;
}

column-two {
  grid-area: column-two;
}

@media screen and (min-width: 700px) {
  #two-column {
    grid-template-areas:
      "header header"
      "body column-two"
      "footer footer";
  }

  #two-col-widget {
    grid-template-areas:
      "header header"
      "body column-widget"
      "body column-two"
      "footer footer";
  }

  #two-column,
  #two-col-widget {
    grid-template-columns: minmax(360px, 830px) 330px;
    grid-column-gap: 10px;
  }
}

//HEADER
.header {
  grid-area: header;
  position: relative;
  text-align: center;

  img {
    border-top: 5px solid var(--color-primary);
    margin: 0;
  }

  .text-container {
    background-color: var(--color-primary);
    padding: 10px 0 25px 0;

    :is(h1, h2, h3, h4, p) {
      line-height: 1.2;
      margin: auto;
      max-width: 600px;
      color: var(--color-white);
    }

    p {
      font-size: 1.255em;
    }

    ul,
    ol {
      margin-left: 30%;
      text-align: left;

      li {
        color: var(--color-white);

        &::before,
        &::after {
          color: var(--color-white);
        }
      }
    }
  }
}

@media screen and (min-width: 730px) {
  .header .text-container {
    &:is(h1, h2, h3, h4, p) {
      max-width: 760px;
    }

    &:is(h1, h2, h3, h4) {
      line-height: 1.1;
    }

    p {
      line-height: 1.155;
    }
  }
}

@media screen and (min-width: 998px) {
  .header .text-container {
    &:is(h1, h2, h3, h4, p) {
      max-width: 1160px;
    }

    &:is(h1, h2, h3, h4) {
      line-height: 1.155;
    }
  }
}

//SYLLABUS HEADER
.syllabus-header {
  background-color: var(--color-white);
  justify-content: center;
  text-align: center;

  img {
    border-bottom: none;
    box-shadow: var(--no-shadow);
    margin: 20px auto !important;
    max-width: 290px;
  }

  h1 {
    font-size: 3.2em;
    margin-bottom: 15px !important;
  }

  h2 {
    margin-top: 2px;
    text-align: center;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    padding: 0px;
    justify-content: center;
    width: fit-content;

    dt {
      display: block;
      margin: 0px 5px;
      padding: 0px;
    }
  }
}

//CAPTION
.caption {
  color: var(--color-pcc-dkgrey);
  font-size: 0.85em;
}

//CONTENT BODY
#one-column content-block {
  display: block;
  margin-bottom: 10px;
  padding: 50px;
  background-color: var(--color-white);

  h2:first-child {
    margin: -50px -50px 20px;
    padding: 20px;
    border-top: 5px solid var(--color-primary);
    border-bottom: 1.5px solid var(--color-primary);
  }
}

#two-column content-block {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  background-color: var(--color-white);

  h2:first-child {
    margin: -20px -20px 20px;
    padding: 20px;
    border-top: 5px solid var(--color-primary);
    border-bottom: 1.5px solid var(--color-primary);
  }
}

content-block:last-child {
  margin-bottom: 0px;
}

//EXTRA PADDING VARIATION CLASS
body#one-column.alt-padding > column-one > content-block {
  padding: 50px !important;

  h2:first-child {
    margin: -50px -50px 40px;
  }

  @media screen and (min-width: 1024px) {
    padding: 90px !important;

    h2:first-child {
    margin: -90px -90px 40px;
    }
  }
}

body#two-column.alt-padding > column-one > content-block {
  padding: 50px !important;

  h2:first-child {
    margin: -50px -50px 40px !important;
  }
}

body#two-column.alt-padding > column-two > content-block {
  padding: 50px !important;

  h2:first-child {
    margin: -50px -50px 40px;
  }

  @media screen and (min-width: 1024px) {
    padding: 30px !important;

    h2:first-child {
    margin: -30px -30px 40px;
    }
  }
}


//INTERIOR ELEMENTS
video {
  object-fit: fill;
}

.edit {
  color: var(--color-edit-text);
  font-weight: bold;
}

.highlight {
  background-color: transparent;
  background-image: linear-gradient(to bottom, var(--color-light-blue), var(--color-light-blue));
  border-bottom: 2px solid var(--color-light-blue);
  border-left: 2px solid var(--color-light-blue);
  border-right: 2px solid var(--color-light-blue);
  border-top: 2px solid var(--color-light-blue);
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(var(--color-black-rgb), 0.3);
  margin: 10px;
}

@media screen and (min-width: 768px) {
  hr {
    margin: 20px 0;
  }
}

//IMAGES
img {
  border-style: none;
  display: block;
  height: auto;
  margin: 25px auto;
  max-width: 100%;
}

//FIGURES
figure {
  margin: 25px auto;

  img {
    margin: 0;
  }

  figcaption,
  .caption {
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.045);
    color: var(--color-pcc-dkgrey);
    font-style: italic;
    padding: 10px 0;
  }
}

//LABELS
.label, default-label, muted-label {
  border-radius: 1px;
  color: var(--color-white);
  display: inline;
  font-size: 0.7em;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.label-default, default-label {
  background-color: var(--color-primary);
}

.label-muted, muted-label {
  background-color: var(--color-ltgrey);
  color: var(--color-muted-black);
}

dt {
  display: block;
  float: none;
  min-width: 100px;
  margin-right: 5px;
  font-weight: 700;
}

dd {
  margin: 0 0 15px 0 !important;
}

a {
  word-break: break-word;
}

a,
.toggle-footnotes {
  background-color: transparent;
  color: var(--color-link-blue);
  text-decoration: underline;
}

a:visited {
  color: var(--color-link-purple) ;
}

a:hover,
a:active,
.toggle-footnotes:hover {
  background-color: transparent;
  color: var(--color-footnotes-blue);
  text-decoration: underline;
}

//TOGGLE ACCORDION
.toggle-btn:hover,
.toggle-footnotes:hover {
  cursor: pointer;
  text-decoration: none;
}

.toggle-footnotes {
  margin: 5px;
  text-decoration: none;
}

.toggle-btn-content,
.footnotes {
  display: none;
}

.show {
  display: block;
}

//BUTTONS
button {
  background-color: var(--color-btn-blue);
  color: var(--color-white);
  border: none;
  font-size: 1em;
  margin: 5px;
  padding: 10px;

  button:hover {
    background-color: var(--color-btn-blue-hover);
  }
}

.btn {
  background-color: var(--color-btn-blue);
  color: var(--color-white);
  border: 3px solid var(--color-btn-blue);
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  vertical-align: middle;

  &:hover {
    background-color: var(--color-btn-blue-hover);
    color: var(--color-white);
    text-decoration: none;
  }
}

//Custom .btn colors
.btn-primary {
  background-color: var(--color-btn-primary);
  border-color: var(--color-btn-primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-btn-primary-hover);
    border-color: var(--color-btn-primary-hover);
    color: var(--color-white);
  }
}

.btn-secondary {
  background-color: var(--color-pcc-secondary);
  border-color: var(--color-pcc-secondary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-pcc-secondary-hover);
    border-color: var(--color-pcc-secondary-hover);
    color: var(--color-white);
  }
}

.btn-tertiary {
  background-color: var(--color-pcc-tertiary);
  border-color: var(--color-pcc-tertiary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-pcc-tertiary-hover);
    border-color: var(--color-pcc-tertiary-hover);
    color: var(--color-white);
  }
}

.btn-gray {
  background-color: var(--color-pcc-dkgrey);
  border-color: var(--color-pcc-dkgrey);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-dkgrey-hover);
    border-color: var(--color-dkgrey-hover);
  }
}

//Button sizes
.btn-lg {
  padding: 25px 30px !important;
}

.btn-xl {
  padding: 35px 50px !important;
  font-size: 1.5em;
  border-radius: 0.3em;
  line-height: 1.5;
  border-width: 0.125em;
}

//.btn support classes
.outline {
  background-color: transparent;
  color: var(--color-pcc-black);
}

.pill {
  border-radius: 10em;
  padding: 5px 20px;
}

.full-width {
  display: block;
  width: 100%;
  padding-left: 0% !important;
  padding-right: 0% !important;
  margin-left: 0%;
  margin-right: 0%;
}

.text-center {
  text-align: center;
}