:root {
  --color-primary: rgba(13, 13, 13, 1);
  --color-grey: rgba(68, 68, 68, 1);
  --color-accent: rgba(0, 39, 246, .7);
  --color-white: rgba(255, 255, 255, 1);
  --color-hover: rgba(0, 32, 194, .8);
  --color-primary-tint1: rgba(13, 13, 13, .08);
  --color-primary-tint2: rgba(4, 85, 148, .04);
  --color-accent-tint: rgba(0, 39, 246, .1);
  --bottom-radius: 0 0 5px 5px;
  --top-radius: 5px 5px 0 0;
  --round-radius: 15px;
  --subtle-radius: 5px;
  --no-radius: 0px;
  --no-shadow: none;
  --sm-shadow: 0 .2rem .2rem rgba(0,0,0,.075);
  --reg-shadow: 0 .25rem .25rem rgba(0,0,0,.1);
  --lg-shadow: 0 .25rem .5rem rgba(0,0,0,.25);
  --color-btn-blue: rgba(46, 94, 142, 1);
  --color-btn-blue-hover: rgba(28, 57, 87, 1);
  --color-dkgrey-hover: rgba(108, 110, 112, 1);
  --color-edit-text: rgba(178, 3, 3, 1);
  --color-light-blue: rgba(180, 231, 248, 1);
  --color-link-blue: rgba(0, 91, 226, 1);
  --color-muted-black: rgba(35, 35, 35, 1);
  --color-link-purple: rgb(108, 0, 169);
  --color-footnotes-blue: rgba(0, 57, 143, 1);
  --color-btn-primary: rgba(4, 85, 148, 1);
  --color-btn-primary-hover: rgba(3, 64, 111, 1);
  --color-table-drk-blue: rgba(29, 74, 105, 1);
}